




   


<table>
    <thead align='left'>
        <th></th>
        <th></th>
        <th>Start Datum</th>
        <th>Gestart</th>

        </tr>
    </thead>
    <tbody ng-repeat="header in headers">
        <tr style="cursor: pointer" ng-click="redirectToDetail(header.$id)">
            
            <td colspan="2" class="md-title">{{header.company}}</td>
            
             <td >alle reacties</td>
        </tr>
        <tr ng-repeat="team in header.teams">
            <td>{{team.teamName}}</td>
            <td>{{team.manager}}</td>
            <td># gvuld</td>
            <td># gestart</td>
        </tr>
    </tbody>
</table>