<md-dialog aria-label="Toevoegen leerling" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Toevoegen Maatregel</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close dialog"></md-icon>
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="max-width:800px;max-height:810px;" ng-controller="MeasureCtrl">

      <md-content layout-padding>
        <form name="newMeasure">
          <md-input-container flex>
            <label>Titel maatregel</label>
            <input ng-model="measureForm.title">
          </md-input-container>
          <md-input-container class="md-block">
            <label>Omschrijving</label>
            <textarea ng-model="measureForm.decription" columns="1" md-maxlength="250"></textarea>
          </md-input-container>
          <div layout layout-sm="column">
            <md-input-container flex>
              <label>Reatief -> Actief</label>
              <input ng-model="measureForm.pointsToActive">
            </md-input-container>
            <md-input-container flex>
              <label>Actief -> pro actief</label>
              <input ng-model="measureForm.pointsToProActive" ng-minlength="1" ng-maxlength="1">
            </md-input-container>
            <md-input-container flex>
              <label>Pro actief</label>
              <input ng-model="measureForm.pointsInProActive" ng-minlength="1" ng-maxlength="1">
            </md-input-container>
          </div>

        </form>
      </md-content>
    </md-dialog-content>

    <div class="md-actions" layout="row">

      <md-button class="md-warn" ng-click="cancel()">Annuleren</md-button>
      <md-button class="md-primary" ng-click="answer('saveMeasure')">Opslaan</md-button>

    </div>
  </form>
</md-dialog>