/* app css stylesheet */

body {
  margin: 10px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li.hide {
   display: none;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

p.status {
   color: red;
}

p.status.good, p.good {
   color: green;
}

form label {
   display: block;
   margin: 15px 0;
}

form label span {
   display: block;
   font-weight: bold;
}

.error {
   color: red;
}

fieldset {
   float: left;
   margin-right: 25px;
   padding: 25px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.material-icons {
  fill: currentColor;
  vertical-align: middle;
  padding-left: 1px;
  padding-bottom: 3px; 
  display: inline-block;
  line-height: 0;
}


.even{
    background-color: whitesmoke;
}
.odd{
    background-color: white;
}


.md-buttonBtn1 {  min-width: 30px; min-height: 24px; line-height: 24px ; padding: 0 6 0 6;margin:  0 6px 0 0; font-size: 1.2em}


html, button, input, select, textarea {
    font-family: Roboto, serif;
}