<!--<md-toolbar class="md-primary md-hue-1">
    <div class="md-toolbar-tools">
        <h2 class="md-flex">TPP vragenlijst {{ surveyHeader.company}}</h2>
    </div>
</md-toolbar>-->

<md-content ng-show="survey.questions" layout-padding>
    <p>{{ surveyHeader.extraInformation }}</p>
    <p>{{ survey.instruction}}</p>

    <div ng-hide="!teams">
        <md-whiteframe class="md-whiteframe-z2" layout="column" style="margin-bottom: 32px;" layout-padding flex-sm="45" flex-gt-sm="35"
        flex-gt-md="25">
            <md-input-container>
                <label>Kies uw team</label>
                <md-select ng-model="bindedUserReactionDeatils.team">
                    <md-option ng-repeat="team in teams" value="{{team.teamName}}">
                        {{team.teamName}}
                    </md-option>
                </md-select>
            </md-input-container>
        </md-whiteframe>

</md-content>
</div>

<div ng-repeat="(questionID, question) in survey.questions">
    <md-whiteframe class="md-whiteframe-z2" layout="column" style="margin-bottom: 32px;" layout-padding>
        <div layout="row" id="questionTitle" layout-padding>
            <div flex="90" class="md-headline" style="margin-bottom: 16px;">
                {{questionID + 1}} - {{ question.titleNL }}
                <md-icon md-font-set="material-icons" ng-show="getAnswerPoints(questionID) != 3" align="right"> check_box_outline_blank </md-icon>
                <md-icon md-font-set="material-icons" ng-show="getAnswerPoints(questionID) == 3" align="right"> check_box </md-icon>

            </div>
            <div flex="10">
                <!--<div layout="row" layout-align="space-around end">
                    <span flex="20">0</span>
                    <span flex="20">1</span>
                    <span flex="20">2</span>
                    <span flex="20">3</span>
                </div>-->
            </div>
        </div>
        <div layout="row" ng-repeat="(answerID, answer) in question.answers" ng-class="{even: $even, odd: $odd}" layout-padding>
            <div flex="80">
                {{answer.titleNL}}
            </div>
            <div flex="20">
                <!--<md-radio-group layout-align="space-around end" aria-label="text" ng-checked="0" ng-model="answers[questionID][answerID]"
                layout="row" ng-change="saveAnswer(questionID, answerID, $event)">
                    <md-radio-button flex="20" value=0 aria-label="text"></md-radio-button>
                    <md-radio-button flex="20" value=1 class="md-primary" aria-label="text"></md-radio-button>
                    <md-radio-button flex="20" value=2 class="md-primary" aria-label="text"></md-radio-button>
                    <md-radio-button flex="20" value=3 class="md-primary" aria-label="text"></md-radio-button>
                </md-radio-group>-->

                <!--<md-input-container class="md-block" flex-gt-sm>
                    <label>State</label>
                    <md-select ng-model="answers[questionID][answerID]">
                        <md-option value=1>
                            1
                        </md-option>
                        <md-option value=2>
                            2</md-option>
                    </md-select>
                </md-input-container>-->
                <section layout-align="center center" layout="row" ng-click="saveAnswer(questionID, answerID, $event)">
                    <md-button ng-model="answers[questionID][answerID]"  ng-click="saveAnswer(questionID, answerID, $event)" class="md-raised md-primary md-buttonBtn1" ng-show="answers[questionID][answerID] === 1">1</md-button>
                    <md-button ng-click="saveAnswer(questionID, answerID, $event)" class="md-primary md-buttonBtn1" ng-show="answers[questionID][answerID] !== 1">1</md-button>
                    
                    <md-button ng-click="saveAnswer(questionID, answerID, $event)" class="md-raised md-primary md-buttonBtn1" ng-show="answers[questionID][answerID] === 2">2</md-button>
                    <md-button ng-model="answers[questionID][answerID]" ng-click="saveAnswer(questionID, answerID, $event)" class="md-primary md-buttonBtn1" ng-show="answers[questionID][answerID] !== 2">2</md-button>
                    
                    <md-button ng-click="saveAnswer(questionID, answerID, $event)" class="md-raised md-primary md-buttonBtn1" ng-show="answers[questionID][answerID] === 3">3</md-button>
                    <md-button class="md-primary md-buttonBtn1" ng-show="answers[questionID][answerID] !== 3">3</md-button>
                </section>
                <!--<span ng-repeat="index in [0, 1, 2, 3]">
                                <input type="radio" ng-model="answers[questionID][answerID]" value="{{ index }}"
                                       name="{{ 'q' + questionID + 'a' + answerID }}}" ng-click="saveAnswer(questionID, answerID, index, $event)"> {{ index }}
                </span>-->
            </div>
        </div>
        <div ng-show="getAnswerPoints(questionID) > 3">
            <p style="color: red">Geef maximaal 3 punten per vraag.</p>
        </div>
    </md-whiteframe>


</div>

<md-button align="center" class="md-primary" ng-show="survey.questions" ng-disabled="!allQuestionsAnswered()">Afronden</md-button>
<div align="center" ng-show="survey.questions" ng-disabled="allQuestionsAnswered()">Wanneer ale vragen volledig zijn beantwoord zal de knop 'Afronden' beschikbaar komen</div>