<div flex-gt-md="70" ng-show="survey.questions">


    <md-card class="md-whiteframe-z2" style="margin-bottom: 32px;">
        <md-card-title flex="initial">
            <md-card-title-text>
                <span class="md-headline">{{ surveyHeader.company}}</span>
                <span class="md-subhead">TPP vragenlijst</span>
                <p>{{ surveyHeader.extraInformation }}</p>
                <p ng-show="!surveyCompleted">Instructie:<br>{{ survey.instruction}}</p>
                <p ng-show="surveyCompleted">De vragenlijst is met succes afgerond.</p>
            </md-card-title-text>
            <md-card-title-media hide-sm hide-xs>
                <div class="md-media-xl card-media"><img src="../app/images/logoHC.jpg"></div>
            </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button ng-show="!beginnen && !surveyCompleted" ng-click="beginnen= true">Starten</md-button>
            <md-button ng-show="!beginnen && surveyCompleted" ng-click="beginnen= true">Antwoorden weegeven</md-button>
        </md-card-actions>
    </md-card>



    <div ng-repeat="(questionID, question) in survey.questions" ng-show="beginnen">
        <md-whiteframe class="md-whiteframe-z2" layout="column" style="margin-bottom: 32px;" layout-padding>
            <div layout="row" id="questionTitle" layout-padding>
                <div flex="80" class="md-headline" style="margin-bottom: 16px;">
                    {{questionID + 1}} - {{ question.titleNL }}


                </div>
                <div flex="20" align="right">

                    <md-icon class="md-accent" md-font-set="material-icons" ng-show="getAnswerPoints(questionID) != 3 && !surveyCompleted" align="right">
                    check_box_outline_blank </md-icon>
                    <md-icon class="md-accent" md-font-set="material-icons" ng-show="getAnswerPoints(questionID) == 3 && !surveyCompleted" align="right">
                    check_box </md-icon>

                </div>
            </div>
            <div layout="row" ng-repeat="(answerID, answer) in question.answers" ng-class="{even: $even, odd: $odd}" layout-padding>
                <div flex="80">
                    <span style="font-size:1.2em;">{{answer.titleNL}}</span>
                </div>
                <div flex="20" align="right">

                    <span ng-show="surveyCompleted"> {{ answers[questionID][answerID] }} </span>

                    <section layout-align="center center" layout="row" ng-show="!surveyCompleted">
                        <md-button ng-model="answers[questionID][answerID]" ng-click="saveAnswer(questionID, answerID, $event, 1)" ng-class="{'md-raised': answers[questionID][answerID] === 1}"
                        class=" md-primary md-buttonBtn1">1</md-button>
                        <md-button ng-model="answers[questionID][answerID]" ng-click="saveAnswer(questionID, answerID, $event, 2)" ng-class="{'md-raised': answers[questionID][answerID] === 2}"
                        class=" md-primary md-buttonBtn1">2</md-button>
                        <md-button ng-model="answers[questionID][answerID]" ng-click="saveAnswer(questionID, answerID, $event, 3)" ng-class="{'md-raised': answers[questionID][answerID] === 3}"
                        class=" md-primary md-buttonBtn1">3</md-button>
                    </section>

                </div>

            </div>
            <div layout-padding ng-show="getAnswerPoints(questionID) > 3">
                <p style="color: red">Geef maximaal 3 punten per vraag. Tip: klik op een gegeven antwoord om deze weer op nul te zetten.</p>
            </div>
        </md-whiteframe>
    </div>

    <div ng-show="beginnen && teams && !surveyCompleted">
        <md-whiteframe class="md-whiteframe-z2" layout="column" style="margin-bottom: 32px;" layout-padding flex-sm="45" flex-gt-sm="35"
        flex-gt-md="25">
            <span class="md-headline">Specifieke informatie</span>
            <md-input-container>
                <label>Kies uw team</label>
                <md-select ng-model="bindedUserReactionDeatils.team">
                    <md-option ng-repeat="team in teams" value="{{team.teamName}}">
                        {{team.teamName}}
                    </md-option>
                </md-select>
            </md-input-container>
        </md-whiteframe>
    </div>

    <div layout-align="center center" layout="column" ng-show="beginnen && !surveyCompleted">
        <md-button class="md-primary md-raised" ng-disabled="!allQuestionsAnswered()" ng-click="completeSurvey()" ng-click="beginnen=null">Afronden</md-button>
        <div ng-disabled="allQuestionsAnswered()">Wanneer aan alle vragen drie punten zijn toegekend zal de knop 'Afronden' beschikbaar komen</div>
    </div>
</div>