<span style="font-size:1.2em;">Aanmelden</span>

<md-whiteframe class="md-whiteframe-2dp" flex-sm="80" flex-gt-sm="50" flex-gt-md="30" layout="column" layout-padding>

    <md-input-container>
        <label>Email</label>
        <input ng-pattern="/^.+@.+\..+$/" ng-model="email" ng-change="checkEmail(email)">
    </md-input-container>

    <md-input-container>
        <label>Wachtwoord</label>
        <input type="password" ng-model="pass">
    </md-input-container>

    <md-input-container ng-hide="!email || knownEmail || !pass">
        <label>Bevestigen wachtwoord</label>
        <input type="password" ng-model="confirm">
    </md-input-container>

    <md-button class="md-primary" ng-click="login(email, pass)" ng-show="knownEmail">Inloggen</md-button>
    <md-button class="md-primary" ng-click="createAccount()" ng-hide="!email || knownEmail">Registreren</md-button>
    <md-button class="md-primary" ng-click="resetMyPass(email)" ng-show="knownEmail">Reset wachtwoord</md-button>
    <p ng-show="err" class="error">{{err}}</p>
</md-whiteframe>

</div>

<!--<button ng-click="resetMyPass(email)" ng-hide="createMode">Reset pass</button>
    <button ng-cloak ng-show="createMode" ng-click="createAccount()">Create Account</button>
    <button ng-cloak ng-show="createMode" ng-click="createMode = false">Cancel</button>

    <p ng-show="err" class="error">{{err}}</p>
</form>



<form>
  <div class="group">
    <input type="text"><span class="highlight"></span><span class="bar"></span>
    <label>Name</label>
  </div>
  <div class="group">
    <input type="email"><span class="highlight"></span><span class="bar"></span>
    <label>Email</label>
  </div>
  <button type="button" class="button buttonBlue">Subscribe
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
  
  <md-input-container flex>
            <label>Titel maatregel</label>
            <input ng-model="measureForm.title">
          </md-input-container>
</form>-->