
<h2>Login Page</h2>

<form>
    <label>
        <span>email</span>
        <input type="text" ng-model="email" />
    </label>
    <label>
        <span>password</span>
        <input type="password" ng-model="pass" />
    </label>
    <label ng-cloak ng-show="createMode">
        <span>confirm pass</span>
        <input type="password" ng-model="confirm" />
    </label>
  
    <md-button class="md-primary" ng-click="login(email, pass)" ng-hide="createMode">Inloggen</md-button>
    <md-button class="md-primary" ng-click="createMode = true" ng-hide="createMode">Registreren</md-button>
    
    
    <button ng-click="resetMyPass(email)" ng-hide="createMode">Reset pass</button>
    <button ng-cloak ng-show="createMode" ng-click="createAccount()">Create Account</button>
    <button ng-cloak ng-show="createMode" ng-click="createMode = false">Cancel</button>

    <p ng-show="err" class="error">{{err}}</p>
</form>



<form>
  <div class="group">
    <input type="text"><span class="highlight"></span><span class="bar"></span>
    <label>Name</label>
  </div>
  <div class="group">
    <input type="email"><span class="highlight"></span><span class="bar"></span>
    <label>Email</label>
  </div>
  <button type="button" class="button buttonBlue">Subscribe
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
  
  <md-input-container flex>
            <label>Titel maatregel</label>
            <input ng-model="measureForm.title">
          </md-input-container>
</form>